body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: #f3f3f3;
}

.calculator-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.calculator {
    background:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(66, 225, 31, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.display {
    /* width: 100%; */
    height: 50px;
    margin-bottom: 20px;
    border: none;
    background: #f0f0f0;
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.button{
    background: #007BFF;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background 0.3s;
}

.buttons1{
    /* background: #007BFF; */
    background-color:white;
    color: orange;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 2em;
    cursor: pointer;
    transition: background 0.3s;
}




























.button-equals {
    color: #f0f0f0;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    /* background: #28a745; */
    background-color: rgb(19, 240, 19);
    grid-column: span 1;
}

.button-show-emi {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    /* background: #6c757d; */

    grid-column: span 1;
}
.button-show-emi:active{
    background: aquamarine;
}




/* --------------------------emi------------------------------ */
.emi-section input{
    width: 99%;
    height: 35px;
    margin-bottom: 3px;
    border: none;
    background: #f0f0f0;
    border-radius: 5px;
}


.emi-section {
    display: none;
  
    flex-direction: column;
}




.emi-section button {
    background: #17a2b8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 50%;
}

.emi-result {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
}


.divchart{
    width: 10%;
    margin-top: 0%;
    margin-right: 0%;
}

/* --------------------------------------------------------------------------- */

.button-show-sc{
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 1;
}

.button-show-sc:active{
    background: aquamarine;
}
#acButton:active{
    font-size: x-large;
    background: khaki;
    /* background: rgba(97, 22, 22, 0.852); */
}


.button.clear{
    background: rgb(253, 4, 4);
    /* background-color: aqua; */
}
.button.clear:active{
    color: black;
        font-size: x-large;
 
}
.button:active {
    background: red;
    /* font-size: x-large; */
    font-style: italic;

 }
.buttons1:active{
inline-size: 2px;
    /* background: burlywood; */
    background: orange;
}


.inputid{
    width: 200px;
    color: black;
    background-color: antiquewhite;
}


.button1{
    border: none;
    width: 69px;
    height: 44px;
    margin-left: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #007BFF;
}
.button1:active {
  
    background: red;
   
}



























